<%= form_for @checkin do |f| %>
	<div class="form-group">
		<%= f.label "id_user", "Put your Barcode here!" %>
		<%= f.text_field :id_user, placeholder: "Barcode", class: "form-control", placeholder: "Barcode!" %>
	</div>
	<div class="form-group">
		<%= f.submit "Save", class: "btn btn-primary" %>
	</div>
<%end%>

<!--%= Date.today-5 %-->

<!--%= Date.today %> < %= Time.now %> < %= @chkInitialDate %-->

<!--form method="post" action="create">
	<div class="form-group">
		<input type="text" class="form-control" name="new[id_user]" placeholder="Barcode" />
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Save</button>
	</div>
</form-->