// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-justufy{
	text-align: justify;
}

td.text-center{
	text-align: center;
}

.ascii{width: 500px}
table.barby-barcode { border-spacing: 0; margin: 0 auto; }
tr.barby-row {}
td.barby-cell { width: 3px; height: 100px; }
td.barby-cell.on { background: #000; }

ul.list-only{
	list-style: none;
	margin-left: -5%;
}